# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
fronts/node_modules
fronts/dist
fronts/.pnp
fronts/.pnp.js
backs/node_modules
backs/dist
backs/.pnp
backs/.pnp.js

# testing
fronts/coverage
backs/coverage

# production
fronts/build
backs/build

# misc
fronts/.DS_Store
fronts/.env.local
fronts/.env.development.local
fronts/.env.test.local
fronts/.env.production.local
backs/.DS_Store
backs/.env.local
backs/.env.development.local
backs/.env.test.local
backs/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
