.sidebar {
  position: fixed;
  height: 100vh;
  /* box-shadow: 2px 0 5px 1px rgb(189, 189, 189); */
  top: 0;
  transition: .3s ease-out;
  z-index: 1111;
  background-color: white;
  border-right: 1px solid rgb(243, 243, 243);
}

.sidebar .sidebar-header {
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  word-break: keep-all;
  min-height: 60px;
}
